.loading {
    font-size: 2rem;
    display: inline-flex;
    gap: 0.1em;
}

.loading span {
    display: inline-block;
    animation: bounce 0.6s infinite;
}

.loading span:nth-child(2) {
    animation-delay: 0.1s;
}
.loading span:nth-child(3) {
    animation-delay: 0.2s;
}
.loading span:nth-child(4) {
    animation-delay: 0.3s;
}

@keyframes bounce {
    0%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-0.35em);
    }
}
