@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-repeat: repeat;
    background-color: black;
    color: var(--star-wars-yellow);
    font-family: var(--font-family);
    text-align: center;
}

.content-box {
    border: 3px solid var(--star-wars-yellow);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.8);
}

footer {
    margin-top: 50px;
    font-size: 16px;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
