:root {
    /* Grayscale UI Colors */
    --white: #ffffff;
    --gray-100: #f9fafb;
    --gray-200: #f5f6f7;
    --gray-300: #e7e8ea;
    --gray-400: #dadcdf;
    --gray-500: #ced1d5;
    --gray-600: #afb3ba;
    --gray-700: #626669;
    --gray-800: #545658;
    --gray-900: #2f3337;
    --black: #252525;
    --pure-black: #000000;

    /* star wars yellow */
    --star-wars-yellow: #ffe81f;

    /* Fonts Sizes */
    --text-xs: 14px;
    --text-sm: 16px;
    --text-md: 20px;
    --text-lg: 24px;
    --text-xl: 28px;
    --text-xxl: 32px;

    /* Font Weight */
    --font-weight-thin: 100;
    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;

    /* Font Family */
    --font-family: Impact, 'Arial Black', Gadget, sans-serif, monospace;
}
