:root {
    /* Grayscale UI Colors */
    --white: #ffffff;
    --gray-100: #f9fafb;
    --gray-200: #f5f6f7;
    --gray-300: #e7e8ea;
    --gray-400: #dadcdf;
    --gray-500: #ced1d5;
    --gray-600: #afb3ba;
    --gray-700: #626669;
    --gray-800: #545658;
    --gray-900: #2f3337;
    --black: #252525;
    --pure-black: #000000;

    /* Fonts Sizes */
    --font-size-xs: 14px;
    --font-size-sm: 16px;
    --font-size-md: 20px;
    --font-size-lg: 24px;
    --font-size-xl: 28px;
    --font-size-xxl: 32px;

    /* Font Family */
    --font-family: 'Orbitron', 'Roboto Mono', 'Courier New', monospace;
}
